dist
node_modules
.env*
!.env.example
yarn.lock
.vscode
*users.seed.yml
*enrollments.seed.yml
*addresses.seed.yml
ticketOptions.seed.yml
hotelOptions.seed.yml
*bookings.seed.yml
*rooms.seed.yml

